:root {
    --gridbg:rgb(56, 187, 192);
    --baseColor: rgb(127, 221, 224);
}




html {font-size: 100%;}

body {
    /* background-color: rgba(112, 196, 202, 0.5); */
    background-image: url(../images/BlueGeometric.jpg);  
    background-size: cover;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: soft-light;
    /* background-repeat: round;   */
    background-attachment: fixed;
    margin-left: 5%;

    
}

h3 {
    text-align: center;
    font-family: 'Press Start 2P';
    color: whitesmoke;
    font-size: 0.72rem;
}

.container {
    display: flex;
}

h1 {
    margin-top: 1rem;
}

.header {
    height: 120px;
    text-align: center;
    /* background-color: teal; */
    /* background-image: linear-gradient(teal, rgba(0, 128, 128, 0)); */
    padding: 2px;
    /* font-family: 'Fredoka One'; */
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    color: lightblue;
    text-shadow: 7px 5px 12px rgba(0,0,0,0.3);

    /* Multi coloured gradient Font*/
    background-color: teal; 
    background-image: linear-gradient(45deg,
    orange 16.66%,
    red 16.66%,
    red 33.33%,
    green 33.33%,
    green 50%,
    blue 50%,
    blue 66.66%,
    purple 66.66%,
    purple 83.33%);
    /* background-image: linear-gradient(45deg,
    #CA4246 16.66%,
    #E16541 16.66%,
    #E16541 33.33%,
    #F18F43 33.33%,
    #F18F43 50%,
    #8B9862 50%,
    #8B9862 66.66%,
    #476098 66.66%,
    #476098 83.33%,
    #A7489B 83.33%
    ); */
    background-size: 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid {
    width: 220px;
    height: 440px;
    background-color: var(--baseColor);
    display: flex;
    flex-wrap: wrap;
    border: inset 5px var(--gridbg);
    border-radius: 10px;
    margin-left: 10%;
}

.grid div {
    height: 20px;
    width: 20px;
    border: ridge 1px rgb(120, 214, 221);
    border-radius: 5px;
    /* margin: -1px    ; */
    /* background-color: coral; */
}

.grid div.taken {
    border: hidden 1px;
    width: 22px;
    height: 22px;
}
.tetromino {
    
    border-radius: 5px;
}

.mini-grid {
    margin-left: 19px;
    margin-top: 1px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--baseColor);
    border-radius: 10px;
    border: inset 5px var(--gridbg);
}

.mini-grid div {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#audio-icon{
    margin-top: 30px;
    /* height: 50px; */
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    border-bottom: dotted 2px black;
    margin-left: 2.5rem;
    margin-bottom: 10px;
}

#audio-icon .hovertext{
    visibility: hidden;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;

    position: absolute;
    z-index: 1;

}


#audio-icon:hover .hovertext{
    visibility: visible;
}

#audio-icon:active{
    transform: translateY(4px);
    background-color: gray;
}

#info-button{
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    /* height: 50px; */
    border-radius: 45%;
    cursor: pointer;
    padding: 5px;
    margin-left: 2.5rem;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 25%;
    left: 48%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    -ms-transform: translate(-50%,-50%);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(15, 70, 141, 0.26), 0 17px 50px 0 rgba(0,0,0,0.19); 
  }

.button {
    display: block;
    width: 120px;
    text-align: center;
    padding: .6rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: Impact;
    margin-left: 0.3rem;
    border: outset 0.3rem;
}

#start-button {
    background-color: rgb(0, 255, 149);
    border-color:  rgb(0, 255, 100);
}

#restart-button {
    /* font-size: 2rem; */
    background-color: rgb(236, 203, 16);
    border-color: gold;
    margin-top: 10px;
}

.column {
    background-image: linear-gradient(cadetblue, rgba(95,158,160, 0));
    width: 8rem;
    height: 400px;
    margin-top: 1%;
    margin-left: 5%;
    /* padding: 2rem; */
    border-radius: 5px;
    align-items: center;
    align-items: center;
    /* display: flex;
    flex-direction: column; */
}

.footer {
    font-size: 0.7rem;
    text-align: right;
}

/* .virt-keys {
    display: flex;
    flex-wrap: wrap;
    /* padding: 4px; */
    /* width: 210px;
    height: 140px;
    margin-top: 20%;
    margin-left: 7.5%;
    border-radius: 12px; */
    /* border: outset 5px goldenrod;
    background-color: gold; */
/* 
    border: none;
    background-color: gold;
    align-content: center;
    box-shadow: 5px 5px 5px indianred;
} */

/* .virt-keys div{
    width: 70px;
    height: 70px;
}

.key {
    width: 60px;
    height: 60px;
    margin: 4px;
    border: outset 1px goldenrod;
    border-radius: 6px;
    background-color: rgb(247, 183, 22);
    /* border: none; */
    /* font-family: 'Press Start 2P';
    font-size: xx-small;

}

.key:active{
    transform: translateY(2px);
    background-color: gray;
} */



/* ------------------------------
            Media Queries 
    -----------------------------*/


@media only screen and (orientation: portrait) {
    body{
        background-size: auto 100%;
        height: 100%;
    }

    html{
        height: 100%;
    }
    
}



@media screen and (max-width: 440px) {
    #primary {width: 100%;}
    #secondary {width: 100%; margin: 0; border: none;}
}

@media screen and (max-width: 770px) {
    body{font-size: 1rem;
    margin: 0;}

    .column {
        width: 6.5rem;
        height: 50%;
        padding: 0;
        margin-top: 3.8rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .button {
        display: block;
        width: 5.6rem;
        text-align: center;
        /* padding: 0.8rem; */
        /* border-radius: 10px; */
        font-size: 0.8rem;
        cursor: pointer;
        font-family: Impact;
        margin-left: 0.1rem;
        
    }


    .mini-grid {
        margin-left: 0.4rem;
    }

    .grid {
        margin-left: 0.4rem;
    }

    #overlay {
        background-color: rgba(255, 255, 255, 0.90);
    }

    #text {
        top: 10%;
        left: 5%;
        font-size: 1.2rem;
    }

}




    /* Tablets */
@media only screen and (min-width: 960px) and (max-width: 1048px) {
    body{font-size: 2rem;
    margin: 0;}

    h3 {font-size: 2.8rem;}

    .header {
        height: 150px;
        font-size: 4vw;
    }

    .container {
        margin-top: 5rem;
        height: 1000px;
    }

    .column {
        width: 20rem;
        height: 820px;
        padding: 0;
        /* margin-top: 3.8rem; */
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .button {
        display: block;
        width: max-content;
        text-align: center;
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 3rem;
        cursor: pointer;
        font-family: Impact;
        margin-left: 2rem;
    }

    #restart-button {
        /* margin-left: 0.5rem; */
        width: 16rem;
    }

    #audio-icon{
        width: 60px;
        height: 60px;
        margin-top: 30px;
        /* height: 50px; */
        border-radius: 50%;
        cursor: pointer;
        padding: 0px;
        border-bottom: dotted 3px black;
        margin-left: 8rem;
        margin-bottom: 10px;
    }

    .mini-grid {
        margin-left: 25%;
        margin-top: 1px;
        width: 160px;
        height: 160px;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--gridbg);
        border-radius: 10px;
        border: inset 5px var(--gridbg);
    }
    
    .mini-grid div {
        width: 240px;
        height: 40px;
        border-radius: 5px;
    }


    .grid {
        width: 420px;
        height: 840px;
        background-color: rgb(56, 187, 192);
        display: flex;
        flex-wrap: wrap;
        border: inset 5px var(--gridbg);
        border-radius: 10px;
        margin-left: 10%;
    }
    
    .grid div {
        height: 40px;
        width: 40px;
        border: ridge 1px rgb(120, 214, 221);
        border-radius: 5px;
        /* margin: -1px    ; */
        /* background-color: coral; */
    }
    
    .grid div.taken {
        border: hidden 1px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .footer {
        /* width: 100px; */
        height: 5%;
        /* font-size: 1rem; */
        text-align: right;
    }
}