:root {
    --gridbg:rgb(56, 187, 192)
}

@media only screen and (orientation: portrait) {
    body{
        background-size: auto 100%;
    }
    
}

body {
    /* background-color: rgba(112, 196, 202, 0.5); */
    background-image: url(../images/BlueGeometric.jpg);  
    background-size: cover;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: soft-light;
    /* background-repeat: round;   */
    background-attachment: fixed;
    margin-left: 5%;

    
}

h3 {
    text-align: center;
    font-family: 'Press Start 2P';
    color: whitesmoke;
}

.container {
    display: flex;
}

.header {
    height: 120px;
    margin-left: -15%;
    text-align: center;
    /* background-color: teal; */
    /* background-image: linear-gradient(teal, rgba(0, 128, 128, 0)); */
    padding: 2px;
    /* font-family: 'Fredoka One'; */
    font-family: 'Press Start 2P';
    font-size: 28px;
    color: lightblue;
    text-shadow: 7px 5px 12px rgba(0,0,0,0.3);

    /* Multi coloured gradient Font*/
    background-color: teal; 
    background-image: linear-gradient(45deg,
    orange 16.66%,
    red 16.66%,
    red 33.33%,
    green 33.33%,
    green 50%,
    blue 50%,
    blue 66.66%,
    purple 66.66%,
    purple 83.33%);
    /* background-image: linear-gradient(45deg,
    #CA4246 16.66%,
    #E16541 16.66%,
    #E16541 33.33%,
    #F18F43 33.33%,
    #F18F43 50%,
    #8B9862 50%,
    #8B9862 66.66%,
    #476098 66.66%,
    #476098 83.33%,
    #A7489B 83.33%
    ); */
    background-size: 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid {
    width: 220px;
    height: 440px;
    background-color: rgb(56, 187, 192);
    display: flex;
    flex-wrap: wrap;
    border: inset 5px var(--gridbg);
    border-radius: 10px;
    margin-left: 10%;
}

.grid div {
    height: 20px;
    width: 20px;
    border: ridge 1px rgb(120, 214, 221);
    border-radius: 5px;
    /* margin: -1px    ; */
    /* background-color: coral; */
}

.grid div.taken {
    border: hidden 1px;
    width: 22px;
    height: 22px;
}
.tetromino {
    
    border-radius: 5px;
}

.mini-grid {
    margin-left: 18px;
    margin-top: 1px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gridbg);
    border-radius: 10px;
    border: inset 5px var(--gridbg);
}

.mini-grid div {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#start-button {
    background-color: darkorange;
    border: none;  
}

#restart-button {
    border: none;
    font-size: 20px;
    background-color: goldenrod;
    margin-top: 10px;
}

#audio-icon{
    margin-top: 30px;
    /* height: 50px; */
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    border-bottom: dotted 2px black;
    margin-left: 50px;
    margin-bottom: 10px;
}

#audio-icon .hovertext{
    visibility: hidden;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;

    position: absolute;
    z-index: 1;

}


#audio-icon:hover .hovertext{
    visibility: visible;
}

#audio-icon:active{
    transform: translateY(4px);
    background-color: gray;
}


.button:hover {
    box-shadow: 0 12px 16px 0 darkgrey, 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button {
    display: block;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: Impact;
    margin-left: 4px;
}
.column {
    background-image: linear-gradient(cadetblue, rgba(95,158,160, 0));
    width: 130px;
    height: 400px;
    margin-top: 1%;
    margin-left: 5%;
    padding: 2px;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
}

.virt-keys {
    display: flex;
    flex-wrap: wrap;
    /* padding: 4px; */
    width: 210px;
    height: 140px;
    margin-top: 20%;
    margin-left: 7.5%;
    border-radius: 12px;
    /* border: outset 5px goldenrod;
    background-color: gold; */

    border: none;
    background-color: gold;
    align-content: center;
    box-shadow: 5px 5px 5px indianred;
}

.virt-keys div{
    width: 70px;
    height: 70px;
}

.key {
    width: 60px;
    height: 60px;
    margin: 4px;
    border: outset 1px goldenrod;
    border-radius: 6px;
    background-color: rgb(247, 183, 22);
    /* border: none; */
    font-family: 'Press Start 2P';
    font-size: xx-small;

}

.key:active{
    transform: translateY(2px);
    background-color: gray;
}

.footer {
    font-size: x-small;
    text-align: right;
}